
body{
    height: 100%;
}
.tamagotchi-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    margin: 5%;
    flex-basis: 100%;

}

.rabbit-container{
    text-align: center;
    margin: 1rem;
    width: 11rem;
    height: 12rem;
    border: black solid 1px;
    background-color: pink;
    overflow-wrap: break-all;
}

.turtle-container{
    text-align: center;
    margin: 1rem;
    width: 11rem;
    height: 12rem;
    border: black solid 1px;
    background-color: greenyellow;
    overflow-wrap: break-all;
}